<div id="container">
  <ion-img src="assets/bell.png" class="logo-top"></ion-img>
  <ion-title size="large"><span>En</span><span class="primary">Filate</span></ion-title>
  <div class="ion-padding ion-text-center">
    <p><b>Desarrollado por:</b><br>Jorge Iván Carrillo Gonzalez</p>
    <p><b>Programa: </b><br>Especialización Tecnologica Metodologias de Calidad para el Desarrollo de Software</p>
    <p><small>Centro de Procesos Industriales y Construcción</small></p>
    <div class="ion-margin-vertical">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-img src="assets/logo-servicio-empleo.png" style="height:55px;"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-img src="assets/logo-sena.png" style="height:55px;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>